<%= render 'components/default_header' %>
<div id="content-wrapper" class="header-present">
    <div class="content-shadow">
        <div id="content-container">
            <div class="cards py-4">
                <div>
                    <h3>Book a Tent – Escape Now.</h3>
                    <br>
                    <p>Utilize <strong>Pitch-a-Tent</strong> to blow off some steam, escaping city-life stress. Our service provides a plethora of options, ensuring everyone can find an experience they enjoy!</p>
                </div>
                <div class="icon-list">
                    <ul>
                        <li><i class="fas fa-leaf"></i>Pure Wildness</li>
                        <li><i class="fas fa-temperature-low"></i>Every Weather</li>
                        <li><i class="fab fa-tencent-weibo"></i>Sustainable</li>
                        <li><i class="fab fa-gripfire"></i>Wild fires</li>
                    </ul>
                </div>
                <div class="action-list">
                    <ul>
                        <li>
                            <p>Have a free tent? Want to make some money? Rent out your own tent to the community!</p>
                        </li>
                        <li>
                            <%= link_to 'Add your own tent', new_tent_path, class:"btn btn-primary"%>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>

            <div class="cards-content">
                <div class="cards">
                    <% @tents.each do |tent| %>
                    <%= link_to tent_path(tent), class:"card-link" do %>
                    <div class="card-trip">
                        <img src=<%=tent.photo %>>
                        <div class="card-trip-infos">
                            <div>
                                <h2>
                                    <%= tent.title %>
                                </h2>
                                <p>
                                    <%= tent.description %>
                                </p>
                            </div>
                            <h2 class="card-trip-pricing">
                                <%= tent.price %> €</h2>
                            <!-- <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered" /> -->
                            <i class="fab fa-apple-pay card-trip-user d-block payment-avatar"></i>
                        </div>
                    </div>
                    <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<%= render 'components/footer' %>
