<%= render 'components/default_header' %>

<div id="content-wrapper">
    <div id="content-container">
<<<<<<< HEAD

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pulvinar sapien et ligula ullamcorper malesuada proin libero. Ut faucibus pulvinar elementum integer enim neque volutpat ac tincidunt. Etiam dignissim diam quis enim lobortis scelerisque fermentum dui. Nibh sit amet commodo nulla facilisi nullam vehicula ipsum a. In pellentesque massa placerat duis ultricies lacus sed. In est ante in nibh mauris cursus mattis. Dolor sed viverra ipsum nunc aliquet. At tellus at urna condimentum mattis pellentesque. Morbi tristique senectus et netus et. Tempus imperdiet nulla malesuada pellentesque elit. Etiam non quam lacus suspendisse faucibus interdum posuere. Cras adipiscing enim eu turpis egestas pretium aenean. Sit amet aliquam id diam maecenas ultricies. Purus sit amet luctus venenatis lectus magna fringilla urna porttitor. Neque egestas congue quisque egestas. Mauris sit amet massa vitae tortor condimentum lacinia. Sed elementum tempus egestas sed sed risus pretium quam. Mauris nunc congue nisi vitae.

Fringilla ut morbi tincidunt augue interdum velit euismod in. Consequat id porta nibh venenatis cras. Elit at imperdiet dui accumsan sit amet nulla. Eget nulla facilisi etiam dignissim. Nunc sed augue lacus viverra vitae congue eu consequat. Scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et. Sed viverra ipsum nunc aliquet bibendum enim facilisis. Nunc sed velit dignissim sodales ut eu sem integer. Sit amet justo donec enim. Ipsum suspendisse ultrices gravida dictum fusce ut placerat. Adipiscing elit pellentesque habitant morbi tristique.

Urna porttitor rhoncus dolor purus non enim. Euismod lacinia at quis risus sed vulputate. Fermentum posuere urna nec tincidunt praesent semper feugiat. Elit eget gravida cum sociis natoque penatibus et magnis dis. Augue lacus viverra vitae congue eu consequat ac felis donec. Tempus egestas sed sed risus pretium quam. Pellentesque elit ullamcorper dignissim cras tincidunt. Faucibus nisl tincidunt eget nullam non nisi est sit amet. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique. Amet dictum sit amet justo. Enim lobortis scelerisque fermentum dui faucibus. Nisl rhoncus mattis rhoncus urna neque viverra justo nec ultrices. Risus sed vulputate odio ut enim blandit. Tempor orci eu lobortis elementum. Nullam eget felis eget nunc lobortis mattis aliquam.

Cum sociis natoque penatibus et magnis dis parturient. Eget nunc scelerisque viverra mauris in. Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci a. Fermentum odio eu feugiat pretium nibh. Faucibus vitae aliquet nec ullamcorper. Fermentum posuere urna nec tincidunt praesent semper feugiat nibh sed. Sed id semper risus in hendrerit gravida rutrum. Maecenas accumsan lacus vel facilisis volutpat est. Aliquet risus feugiat in ante. Amet consectetur adipiscing elit duis tristique sollicitudin nibh sit amet.

Vulputate dignissim suspendisse in est ante in. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. In cursus turpis massa tincidunt dui. Sapien nec sagittis aliquam malesuada bibendum. Vulputate odio ut enim blandit volutpat maecenas volutpat blandit. Nunc faucibus a pellentesque sit. Augue ut lectus arcu bibendum at varius vel. Sed felis eget velit aliquet sagittis id consectetur purus ut. Enim nunc faucibus a pellentesque sit amet. Nunc lobortis mattis aliquam faucibus purus in massa. Phasellus egestas tellus rutrum tellus.</p>

      <div class="cards">
        <% @tents.each do |tent| %>
        <div class="card-trip">
            <img src=<%= tent.photo %>>
            <div class="card-trip-infos">
                <div>
                    <h2><%= tent.title %></h2>
                    <p><%= tent.description %></p>
=======
        <div class="cards py-4">
            <div>
                <h3>Rent a Tent!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto temporibus ipsum qui ut praesentium, aliquam et mollitia sapiente, amet explicabo natus dolor, corporis itaque voluptas in velit neque, excepturi harum!</p>
            </div>
            <div class="icon-list">
                <ul>
                    <li><i class="fas fa-leaf"></i>Pure Wildness</li>
                    <li><i class="fas fa-temperature-low"></i>Every Weather</li>
                    <li><i class="fab fa-tencent-weibo"></i>Sustainable</li>
                    <li><i class="fab fa-gripfire"></i>Wild fires</li>
                </ul>
            </div>
            <div class="action-list">
                <ul>
                    <li>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos aliquid tempore ut. Eum aspernatur, mollitia suscipit?</p>
                    </li>
                    <li>
                        <%= link_to 'Add your own tent', new_tent_path, class:"btn btn-primary"%>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="cards">
            <% @tents.each do |tent| %>
            <%= link_to tent_path(tent), class:"card-link" do %>
            <div class="card-trip">
                <img src=<%=tent.photo %>>
                <div class="card-trip-infos">
                    <div>
                        <h2>
                            <%= tent.title %>
                        </h2>
                        <p>
                            <%= tent.description %>
                        </p>
                    </div>
                    <h2 class="card-trip-pricing">
                        <%= tent.price %> €</h2>
                    <!-- <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered" /> -->
                    <i class="fab fa-apple-pay card-trip-user d-block payment-avatar"></i>
>>>>>>> 854497330a8376a23c0d6ba58d4f3745fb9520af
                </div>
            </div>
            <% end %>
            <% end %>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto temporibus ipsum qui ut praesentium, aliquam et mollitia sapiente, amet explicabo natus dolor, corporis itaque voluptas in velit neque, excepturi harum!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto temporibus ipsum qui ut praesentium, aliquam et mollitia sapiente, amet explicabo natus dolor, corporis itaque voluptas in velit neque, excepturi harum!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto temporibus ipsum qui ut praesentium, aliquam et mollitia sapiente, amet explicabo natus dolor, corporis itaque voluptas in velit neque, excepturi harum!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto temporibus ipsum qui ut praesentium, aliquam et mollitia sapiente, amet explicabo natus dolor, corporis itaque voluptas in velit neque, excepturi harum!</p>
    </div>
</div>
