<%= render 'components/default_header' %>
<div id="content-wrapper" class="header-present background-intelligent-cover is-blurred is-fixed-to-viewport"
    data-background-image="<%= image_path 'background_autumn.jpg' %>">
    <div class="content-shadow">
        <div id="content-container">
            <div class="grid-content py-4 mb-4">
                <div>
                    <h3>Book a Tent – Escape Now.</h3>
                    <br>
                    <p>Utilize <strong>Pitch-a-Tent</strong> to blow off some steam, escaping city-life stress. Our service provides a plethora of options, ensuring everyone can find an experience they enjoy!</p>

                </div>
                <div class="icon-list">
                    <ul>
                        <li><i class="fas fa-leaf"></i>Pure Wildness</li>
                        <li><i class="fas fa-temperature-low"></i>Every Weather</li>
                        <li><i class="fab fa-tencent-weibo"></i>Sustainable</li>
                        <li><i class="fab fa-gripfire"></i>Wild fires</li>
                    </ul>
                </div>
                <div class="action-list">
                    <ul>
                        <li>
                            <p>Have a free tent? Want to make some money? Rent out your own tent to the community!</p>
                        </li>
                        <li>
                            <%= link_to 'Add your own tent', new_tent_path, class:"btn btn-primary"%>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="icon_hr">
                <i class="fas fa-paw"></i>
                <i class="fas fa-feather"></i>
                <i class="fas fa-crow"></i>
            </div>

            <div class="cards-content mt-4">
                <div class="cards">
                    <% @tents.each do |tent| %>
                        <%= render partial: 'components/tent_card', locals: { tent: tent } %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<%= render 'components/footer' %>