<%= render 'components/search_bar' %>
<div id="content-wrapper" class="background-intelligent-cover is-blurred is-fixed-to-viewport"
    data-background-image="<%= image_path('background_leaves.jpg') %>">
    <!-- <div id="content-wrapper" class="background-intelligent-cover is-fixed-to-viewport" data-background-image="<%= cl_image_path(@tent.photo) %>"> -->
    <div class="content-shadow">
        <div id="content-container">
            <!--             <img src="" alt="" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path(@tent.photo);%>);"> -->
            <%#= cl_image_tag(@tent.photo) %>
            <div class="background-container">
                <div>
                    <div class="grid-container">
                        <div class="photo-show">
                            <!-- <div> -->
                            <%= cl_image_tag(@tent.photo, width: 380, height:250, crop: :fill) %>
                            <!-- </div> -->
                            <!-- <div>
                                <div>
                                    <p>Small Photo</p>
                                    <p>Small Photo</p>
                                </div>
                                <div>
                                    <p>Small Photo</p>
                                    <p>Small Photo</p>
                                </div>
                            </div> -->
                        </div>
                        <div class="content-show content-box">
                            <div class="content-upper-show">
                                <div id="title-cost-show">
                                    <h1>
                                        <%= @tent.title %>
                                    </h1>
                                    <h5>€
                                        <%= @tent.price %>
                                    </h3>
                                </div>
                                <div>
                                    <p>
                                        <%= @tent.description %>
                                    </p>
                                </div>
                            </div>
                            <div class="content-mid-show">
                                <div class="w3-row">
                                    <a href="javascript:void(0)" onclick="openCity(event, 'London');">
                                        <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-blue">Details</div>
                                    </a>
                                    <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
                                        <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Wildlife</div>
                                    </a>
                                    <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
                                        <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Review</div>
                                    </a>
                                </div>
                                <div id="London" class="w3-container city" style="display:block">
                                    <h5>Host:
                                        <%= @tent.user.name %>
                                    </h5>
                                    <h5>Capacity:
                                        <%= @tent.capacity %>
                                    </h5>
                                    <h5>Location:
                                        <%= @tent.location %>
                                    </h5>
                                    <h5>Landscape: Forest
                                    </h5>
                                </div>
                                <div id="Paris" class="w3-container city" style="display:none">
                                    <p>
                                        <% animal_array = @tent.wildlife.split(",") %>
                                        <% animal_array.each do |animal| %>
                                        <ul>
                                            <li>
                                                <%= animal %>
                                            </li>
                                        </ul>
                                        <% end %>
                                    </p>
                                </div>
                                <div id="Tokyo" class="w3-container city" style="display:none">
                                    <div id="reviews">
                                    </div>
                                    <%= simple_form_for([ @tent, @review ]) do |form| %>
                                    <br>
                                    <%= form.input :content, as: :text, label: false, placeholder: "Write your review here for #{@tent.title}"  %>
                                    <%= form.button :submit, class:"btn btn-primary"%>

                                    <% end %>
                                </div>
                                <script>
                                    function openCity(evt, cityName) {
                                    var i, x, tablinks;
                                    x = document.getElementsByClassName("city");
                                    for (i = 0; i < x.length; i++) {
                                        x[i].style.display = "none";
                                    }
                                    tablinks = document.getElementsByClassName("tablink");
                                    for (i = 0; i < x.length; i++) {
                                        tablinks[i].className = tablinks[i].className.replace(" w3-border-blue", "");
                                    }
                                    document.getElementById(cityName).style.display = "block";
                                    evt.currentTarget.firstElementChild.className += " w3-border-blue";
                                }
                                </script>
                            </div>
                            <div class="content-low-show">
                                <div class="book-show">
                                    <form class="form-book">
                                        <input type="text" name="start date" value="Start Date">
                                        <input type="text" name="end date" value="End Date">
                                    </form>
                                    <%= link_to 'Book Now!', new_tent_path, class:"btn btn-primary"%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review-container content-box mt-4">
                        <div>
                          <br>
                          <br>
                            <h2>
                                <%= pluralize @tent.reviews.size, "Reviews" %>
                            </h2>
                        </div>
                        <div class="border-underline">
                          <br>
                          <% if @tent.reviews.blank? %>
                          Be the first to leave a review for
                          <%= @tent.title %>
                          <% else %>
                          <% @tent.reviews.each do |review| %>
                          <p>
                              <%= review.content %>
                          </p>
                          <% end %>
                          <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <%#= render 'reviews/form', tent: @tent, review: @review %>
        </div>
    </div>
</div>
<%= render 'components/footer' %>
</div>
