<%= render 'components/search_bar' %>
<div id="content-wrapper">
    <div class="content-shadow">
        <div id="content-container">

          <div class="background-container">

            <div class="grid-container">
                <div class="container-foto">
                  <img src="" alt="" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path(@tent.photo);%>);"> >
                </div>
                <div class="product-infos">
                    <h1>
                        <%= @tent.title %>
                    </h1>
                    <p>
                        <%= @tent.description %>
                    </p>
                    <h5>Host:
                        <%= @tent.user.name %>
                    </h5>
                    <h5>Capacity:
                        <%= @tent.capacity %>
                        </h3>
                        <h5>€
                            <%= @tent.price %>
                            </h3>
                </div>
                <h3>Wildlife:</h3>
                <p>
                    <% animal_array = @tent.wildlife.split(",") %>
                    <% animal_array.each do |animal| %>
                    <ul>
                        <li>
                            <%= animal %>
                        </li>
                    </ul>
                    <% end %>
                </p>
            </div>

          </div>

        </div>
    </div>
</div>
</div>
<%= render 'components/footer' %>
