<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %>
    <script src="https://kit.fontawesome.com/36197ad289.js"></script>
    <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
</head>

<body>

    <div id="page-container">

        

        <!-- Here will be the specific page content -->
        <%= yield %>

        <p class="notice mb-0">
            <%= notice %>
        </p>
        <p class="alert">
            <%= alert %>
        </p>
        

        <%= render '/components/footer' %>

        <%= javascript_include_tag 'application' %>
        <%= javascript_pack_tag 'application' %>
    </div>
</body>

</html>
